*,
*::after, *::before {
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: #f8f2f2;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  width: 470px;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 0px;
  text-shadow: 1px 1px 1px #f7b762;
}

.caja_galletas {
  position: absolute;
  top: 5%;
  left: 15%;
}

.g1 {
  width: 350px;
  display: block;
}

.g1[src="galleta_5.png"] {
  width: 650px;
    left: -18%;
}

.btn {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  width: 20%;
  position: absolute;
  bottom: 10%;
  right: 25%;
  z-index: 1;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #f7b762;
  color: #fff;
  cursor: pointer;
  font-size: x-large;
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: #d8943a;
  color: #ffffff;
}

.panadero {
  position: absolute;
  width: 70%;
  top: 5%;
  right: 0%;
}

.g1 {
    position: relative;
}

.galleta-top {
    position: absolute;
    bottom: 16%;
    left: 11%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 18px;
    visibility: hidden;
}

.pan {
    top: 0;
    transform: rotate(-180deg);
}

.pan2 {
    position: absolute;
    bottom: 0;
    right: 0;
}